{% macro show_rows(objects) %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-dark table-striped">
                <tr>
                    <th> Fecha y hora </th>
                    <th> Valor de glucosa en sangre </th>
                    <th> Alimento </th>
                    <th>  </th>
                </tr>
                <tr>
                    {% for object in objects %}
                        <th>{{ object["date"] }}</th>
                        <th>{{ object["glucose_value"] }}</th>
                        <th>{{ object["foods"]["name"] }}</th>
                    <td>
                        <a type="button" href="" class="btn btn-primary">Ver</a>
                    </td>
                </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}