{% if current_user.is_authenticated %}
    {% extends './main/Main(con_registro)(40).html' %}
{% else %}
    {% extends './main/Main(sin_registro)(37).html' %}
{% endif %}
{% import 'macros/object.html' as macro_object %}
{% import 'macros/header.html' as macro_header %}


{% block body %}
   <div class="container-fluid">
       {{ macro_header.show_header(header) }}
       <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Nombre</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['nombre']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
       <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
       <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Precio</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['precio']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
       <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Fecha</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['fecha']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
       <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Productos</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['productos']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <a type="button" href="{{ url_for('usuario.crear_compra', id=object.id) }}" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    </div>
{% endblock %}