{% extends 'layout.html' %}



{% block title %}
  Foods
{% endblock %}

{% from 'macros/form.html' import show_field, show_submit %}
{% block body %}

    <!-- FORM -->
    <div class="row">

        <!-- MESSAGE -->
        {% include 'partials/_message.html' %}

        <div class="col-md-5 p-5">

            <!-- FORM -->
            <form action="{{ url_for('food.foods') }}" method="POST" class="card bg-orange text-dark rounded-5  border-5">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="card-body p-4">
                <h1 class="h5 mb-4">Añadir alimento</h1>

                <div class="mb-3">
                    <label for="name">Inserte el nombre del alimento:</label>
                    <input
                        type="text"
                        name="name"
                        class="form-control rounded-2  border-2"
                        placeholder="Tomate"
                    />
                </div>

                <div class="mb-3">
                    <label for="carbohydrates">Inserte la cantidad de carbohidratos del alimento:</label>
                    <input
                        type="text"
                        name="carbohydrates"
                        class="form-control rounded-2  border-2"
                        placeholder="6"
                    />
                </div>


                <button class="btn btn-success">Guardar</button>
              </div>
            </form>

        </div>

        <!-- foods list -->
        <div class="col-md-7 p-5">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered bg-green table-striped border-dark">
                        <tr>
                            <th> Nombre </th>
                            <th> Cantidad de carbohidratos </th>
                            <th>  </th>
                        </tr>
                        <tr>
                            {% for food in foods %}
                                <th>{{ food["name"] }}</th>
                                <th>{{ food["carbohydrates"] }}</th>
                            <td>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto">
                                        <a type="button" href="{{ url_for('food.update_food', food_id=food["id"]) }}" class="btn btn-success me-md-3">Editar</a>
                                        <a type="button" href="{{ url_for('food.delete_food', food_id=food["id"]) }}" class="btn btn-danger me-md-3">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
