{% extends 'layout.html' %}

{% import 'macros/table.html' as table %}


{% block title %}
  ReNuDia | Home
{% endblock %}

{% from 'macros/form.html' import show_field, show_submit %}
{% block body %}

    <!-- FORM -->
    <div class="row">

        <!-- MESSAGE -->
        {% include 'partials/_message.html' %}

        <div class="col-md-5 p-5">

            <!-- FORM -->
            <form action="{{ url_for('main.main_view') }}" method="POST" class="card bg-black text-light">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="card-body p-4">
                <h1 class="h5 mb-4">Añadir registro nutricional</h1>

                <div class="mb-3">
                  {{  show_field(form.date, class='form-control')}}
                </div>

                <div class="mb-3">
                  {{  show_field(form.time, class='form-control')}}
                </div>

                <div class="mb-3">
                  {{  show_field(form.food, class='form-control')}}
                </div>

                <div class="mb-3">
                  {{  show_field(form.glucose_value, class='form-control')}}
                </div>

                <button class="btn btn-primary">Guardar</button>
              </div>
            </form>

        </div>

        <!-- contacts list -->
        <div class="col-md-7 p-5">
            {{ table.show_rows(objects) }}
        </div>
    </div>


{% endblock %}
