{% extends 'layout.html' %}
{% import 'macros/table.html' as table %}
{% from 'macros/form.html' import show_field, show_submit %}


{% block title %}
    Main Diabetic
{% endblock %}

{% block body %}

    <!-- FORM -->
    <div class="row">

        <!-- MESSAGE -->
        {% include 'partials/_message.html' %}

        <div class="col-md-4 mt-5">

            <!-- FORM -->
            <form action="{{ url_for('main.main_diabetic') }}" method="POST" class="card bg-black text-light">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="card-body p-4">
                <h1 class="h5 mb-4">Añadir registro nutricional</h1>

                <div class="mb-3">
                  {{  show_field(form.date, class='form-control')}}
                </div>

                <div class="mb-3">
                  {{  show_field(form.time, class='form-control')}}
                </div>

                <div class="mb-3">
                  <label for="food">Seleccione un alimento (opcional):</label>
                  <select class="form-select" aria-label="Default select example" name="food">
                        <option selected value="">Sin selección </option>
                        {% for choice in form.food.choices %}
                            <option value="{{ choice[0] }}">{{ choice[1][0] }}, {{ choice[1][1] }}  gramos de carbohidratos</option>
                      {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                  {{  show_field(form.amount_food, class='form-control', placeholder="2 rodajas")}}
                </div>

                <div class="mb-3">
                  {{  show_field(form.glucose_value, class='form-control', placeholder="120")}}
                </div>

                <button class="btn btn-primary">Guardar</button>
              </div>
            </form>

        </div>

        <!-- nutritional records list -->
        <div class="col-md-8 mt-5">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-dark table-striped">
                        <tr>
                            <th> Fecha </th>
                            <th> Hora </th>
                            <th> Alimento </th>
                            <th> Cantidad </th>
                            <th> Valor de glucosa en sangre </th>
                            <th>  </th>
                        </tr>
                        <tr>
                            {% for nutritional_record in nutritional_records %}
                                <th>{{ nutritional_record["date"] }}</th>
                                <th>{{ nutritional_record["time"] }}</th>
                                <th>{{ nutritional_record["food"]["name"] }}</th>
                                <th>{{ nutritional_record["amount_food"] }}</th>
                                <th>{{ nutritional_record["glucose_value"] }}</th>
                            <td>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto">
                                        <a type="button" href="{{ url_for('main.update_nutritional_record', nutritional_record_id=nutritional_record["id"]) }}" class="btn btn-primary me-md-3">Editar</a>
                                        <a type="button" href="{{ url_for('main.delete_nutritional_record', nutritional_record_id=nutritional_record["id"]) }}" class="btn btn-danger me-md-3">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
