{% extends 'layout.html' %}
{% from 'macros/form.html' import show_field, show_submit %}



{% block title %}
  User
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center p-5">
        <form action="{{ url_for('main.messages_nutritionist') }}" method="GET" class="row bg-black text-light">
            <div class="col-mb-8 p-3">
                <select class="form-select" aria-label="Default select example" name="diabetic">
                    {% for choice in filter.diabetic.choices %}
                        <option value="{{ choice[0] }}"> {{ choice[1][0] }} {{ choice[1][1] }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-mb-4 p-3">
              {{ show_submit(filter.submit , class='btn btn-success rounded-2  border-2')}}
            </div>
        </form>
    </div>

    <div class="row justify-content-md-center p-5">

         {% for message in messages %}
              {% if message["sender_id"] == current_user.id %}
                   <div class="row">
                        <div class="col-md-8">
                            <div class="card mb-3 bg-black text-white">
                                <div class="card-body py-2 px-3">
                                    <p class="card-text">De: {{ message["sender"]["name"] }}</p>
                                    <div class="d-flex justify-content-between">
                                        <h4 class="card-title h4">{{ message["message"] }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                  </div>
              {% else %}
                    {% if message['id'] != 0 %}
                        <div class="row">
                            <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="card mb-3 bg-black text-white">
                                        <div class="card-body py-2 px-3">
                                            <p class="card-text">De: {{ message["sender"]["name"] }}</p>
                                            <div class="d-flex justify-content-between">
                                                <h4 class="card-title h4">{{ message["message"] }}</h4>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card mb-3 bg-black text-white">
                                        <div class="card-body py-2 px-3">
                                            <div class="d-flex justify-content-between">
                                                <h4 class="card-title h4">{{ message["message"] }}</h4>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    {% endif %}
              {% endif %}
         {% endfor %}


{% endblock %}
