{% if current_user.is_authenticated %}
    {% extends './main/Main(con_registro)(40).html' %}
{% else %}
    {% extends './main/Main(sin_registro)(37).html' %}
{% endif %}
{% import 'macros/object.html' as macro_object %}
{% import 'macros/header.html' as macro_header %}


{% block body %}
   <div class="container-fluid">
       {% if object.id == current_user.id or current_user== "admin"%}
           {{ macro_header.show_header(header) }}
           {{ macro_object.show_object(object) }}
           <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <a type="button" href="{{ url_for('usuario.editar_cliente', id=object.id) }}" class="btn btn-success">Editar</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <a type="button" href="{{ url_for('usuario.eliminar_cliente', id=object.id) }}" class="btn btn-danger">Eliminar</a>
                </div>
                <div class="col-md-2"></div>
            </div>
    {% endif %}
   </div>
{% endblock %}