{% if current_user.is_authenticated %}
    {% extends './main/Main(con_registro)(40).html' %}
{% else %}
    {% extends './main/Main(sin_registro)(37).html' %}
{% endif %}
{% import 'macros/object.html' as macro_object %}
{% import 'macros/header.html' as macro_header %}


{% block body %}
   <div class="container-fluid">
       {{ macro_header.show_header(header) }}
       {% if current_user.rol == "admin" %}
           {{ macro_object.show_object(object) }}
           <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <a type="button" href="{{ url_for('usuario.editar_compra', id=object.id) }}" class="btn btn-success">Editar</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <a type="button" href="{{ url_for('usuario.eliminar_compra', id=object.id) }}" class="btn btn-danger">Eliminar</a>
                </div>
                <div class="col-md-2"></div>
            </div>
        {% else %}
           <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Usuario</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['usuarios']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Bolson</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['bolsones']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
           <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Fecha</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['fecha_compra']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="p-3 mb-2 bg-primary text-white">Retirado</div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">{{object['retirado']}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br>&nbsp;</div>
        </div>
       {% endif %}
   </div>
{% endblock %}