<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    {% if current_user.is_authenticated %}
        {% if current_user.rol == "diabetic" %}
          <a class="navbar-brand" href="{{ url_for('main.main_diabetic') }}">ReNuDia</a>
          <a class="navbar-brand" href="{{ url_for('main.user', id=current_user.id) }}">Ver Perfil</a>
        {% else %}
          <a class="navbar-brand" href="{{ url_for('main.main_nutritionist') }}">ReNuDia</a>
          <a class="navbar-brand" href="{{ url_for('main.inscriptions_of_nutritionist_list') }}">Mis Pacientes</a>
          <a class="navbar-brand" href="{{ url_for('main.foods') }}">Alimentos</a>
          <a class="navbar-brand" href="{{ url_for('main.user', id=current_user.id) }}">Ver Perfil</a>
        {% endif %}
    {% endif %}
  </div>
</nav>
