{% if current_user.is_authenticated %}
    {% extends './main/Main(con_registro)(40).html' %}
{% else %}
    {% extends './main/Main(sin_registro)(37).html' %}
{% endif %}
{% from 'macros/form.html' import show_field, show_submit %}
{% import 'macros/header.html' as macro_header %}


{% block body %}
    <div class ="container-fluid">
        {{ macro_header.show_header(header) }}
        <form method="POST" action="{{ url_for('main.registro') }}" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        {{  show_field(form.nombre, class='form-control')}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br>&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        {{  show_field(form.apellido, class='form-control') }}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br>&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        {{  show_field(form.mail, class='form-control') }}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br>&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        {{  show_field(form.telefono, class='form-control')}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br>&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        {{  show_field(form.contrasenia, class='form-control') }}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br>&nbsp;</div>
            </div>
             <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        {{ show_field(form.rol, class='form-control' )}}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br><br>&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    {{ show_submit(form.submit , class='btn btn-success')}}
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
        </form>
    </div>
{% endblock %}
